HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
src/main/resources/application.properties
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/main/resources/application.properties.local
src/main/resources/static

# Ignorar todos los archivos CSS
src/main/resources/static/css/*.css

# Ignorar todos los archivos JS
src/main/resources/static/js/*.js

# Ignorar todos los archivos HTML
src/main/resources/static/pages/*.html
